*{
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color: #F2FFE3;
	font-family: helvetica;

}

a {
	text-decoration: none;
	color: #1B4869;
}


ul {
	list-style-type: none;
}

section {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	padding: 10%;
}

form {
	background-color: #F2FFE3;
	height: auto;
	padding: 1.5rem;
	box-shadow: 0 1px 2px 0px rgba (0,0,0,0.5)

}

textarea {
	max-height: 100px;
	resize: none;
}

label {
	color: black;
	background: #F2FFE3;

}

a:hover{
	color: black;
} 

a:active{
	color: black;
}

a[href="#"] {

}

input[type="text"],
input[type="email"],
input[type="password"]

{
	width: 95%
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #56B9D0
	background-color: white;
	color: white;
}

input:focus {
	background-color: white;	
}

input:valid {
	background-color: white;
}

input:invalid {
	background-color: white;
}

input[type="checkbox"]:checked ~ label {
	color: white;
}
input[type="submit"] {
	background-color: white;
	border: none;
	padding: 5px
	width: 100%;

}

}
#name-container > label:first-child {
	background-color: ##F2FFE3;
	color: black;
}

form {
	width: 60%;
	max-width: 600px;
	min-width: 300px;
	margin: 0 auto;
}
textarea,
select,
input {
	width: 100%;
	background-color: #D9D1C7;
	border: none;
	padding: 10px;
	font-size: 16px;
	margin-top: 8px;
	border: 1px solid #8C8681;
}

input[type="radio"] 
input[type="checkbox"] {
	width: auto;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	width: auto;
	display: inline-flex;
}

label {
	width: 100%;
	font-size: 16px;
	text-align: left;
	display: block;
}

.field {
	width: 100%;
}
